#hello {
    font-family: Arial, Verdana, Helvetica;
    font-size: 13pt;
    color: #333333;
    font-weight: 500;
    padding-top: 8pt;
}
#closure {
    width: 128px;
    height: 128px;
    background-image: url("//code.google.com/closure/images/logo128px.png");
}
